<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand nv-text-heading" href="/">Safe Checkup</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <span style="margin-left: auto;">
            <ul class="navbar-nav">
                <li class="nav-item mx-5">
                    <a class="nav-link nv-text-heading" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item mx-5">
                    <a class="nav-link nv-text-heading" href="#">About<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </span>
    </div>
</nav>