<%- include("../partials/header.ejs") %>

<div class="container sp">
    <h3 class="sp-text-heading">Sign Up</h3>
    <form action="/<%=type%>/signUp" method="POST">
        <input type="text" placeholder="name" name="doctor[name]" class="sp-input-field" required autocomplete="off">
        <input type="email" placeholder="email" name="doctor[email]" class="sp-input-field" required autocomplete="off">
        <input type="password" placeholder="password" name="doctor[password]" class="sp-input-field" required autocomplete="off">
        <input type="number" placeholder="doctor ID" name="doctor[doctorId]" class="sp-input-field" required autocomplete="off">
        <input type="speciality" placeholder="speciality" name="doctor[speciality]" class="sp-input-field" required autocomplete="off">
        <button class="sp-text-normal sp-sub-btn">Sign Up</button>
    </form>
    <a href="/<%=type%>/login" class="sp-text-normal sp-login-link">Already registered! Login here.</a>
</div>

<%- include("../partials/footer.ejs") %>