<%- include("./partials/header.ejs") %>

<section class="form-group role-select">
    <h3 class="welcome">Welcome</h3>
    <a href="/doctor/login" class="role-links">
        <button class="role-button">Login as a Doctor</button>
    </a>
    <a href="/patient/login" class="role-links">
        <button class="role-button">Login as a Patient</button>
    </a>
</section>

<%- include("./partials/footer.ejs") %>